<header class="container">
  <h1>Angular testing</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, iure? Ratione minima, ut aliquid quam soluta alias est sequi quos id reprehenderit accusamus voluptatibus asperiores eius, excepturi unde! Natus, explicabo.
  Nobis optio hic beatae dolore perspiciatis quidem dicta sapiente sequi officiis necessitatibus. Repellat cumque incidunt ex nemo esse quisquam porro. Nulla nihil magnam ad. Recusandae ipsam nostrum at labore perspiciatis.
  Voluptatibus, alias maxime necessitatibus eum repellat ipsum laudantium ratione? Velit, repellendus ullam. Numquam eaque amet explicabo enim corrupti minima dolorem, perspiciatis, aut at tempora aliquam doloremque hic omnis soluta magni.</p>
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/products">Productos</a></li>
      <li><a routerLink="/picoPreview">Pico preview</a></li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>
